html {
    font-size: 62.5%;
    /* imposta la dimensione del font in base a quella del browser (di default 16, quindi 10). Tutti i rem si baseranno su questa misura */
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* importante, insieme col box-sizing dell'html */

* {
    margin: 0;
}

body {
    font-family: "Quicksand", Helvetica, sans-serif;
}

/* root e altre fisse */

:root {
    --quasi-bianco: #EEEEEE;
    --grigio-chiaro: #CCCCCC;
    --quasi-nero: #303030;
    --meno-nero: #424242;
    --giallo1: #FCA51C;
    --piugiallo: #FFC130;
    --arancione: #EA5455;
    --verde: #388E3C;
    --blu: #0396FF;
    --radius: .3rem;
    --ombra-light: .1rem .1rem .2rem rgba(0, 0, 0, .15);
    --ombra-std: .2rem .1rem .7rem rgba(0, 0, 0, .20);
    --ombra-str: .2rem .1rem 1.85rem rgba(0, 0, 0, .25);
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Quicksand", sans-serif;
    color: var(--quasi-nero);
    margin: 0;
}

.bgr-verde {
    background-color: var(--verde);
}

.bgr-blu {
    background-color: var(--blu);
}

.bgr-arancione {
    background-color: var(--arancione);
}   

.clr-white {
    color: white;
} 

h1 {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    color: var(--blu);
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: var(--blu);
}

.p_std {
    font-family: "Quicksand", sans-serif;
    font-size: 2.2rem;
    line-height: normal;
    font-weight: 400;
}

.strong {
    font-weight: 600;
}

section {
    margin: 6rem 0;
}

.img_std {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 135rem;
    margin: 0 auto;
}

section.items {
    margin: 14rem 0;
}

.main-item {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 1fr 1.7fr;
    height: 50rem;
    margin-bottom: 10rem;
}

.main-item_r {
    grid-template-columns: 1.7fr 1fr;
}

.item-copy {
    align-self: center;
    padding: 5.5rem;
    margin-top: 8rem;
    margin-left: -13rem;
    background: #fafafa;
}

.item-copy_r {
    margin-left: 0;
    margin-right: -13rem;
    z-index: 3;
}